@import "../main.scss";

.header {
  @include flex(row, space-between, center);
  height: 70px;
  width: 95%;
  margin: 1rem auto;
  @media screen and (max-width: 900px) {
    height: 50px;
  }
  @include responsive(phone) {
    margin: 2.3rem auto;
  }
  @include responsive(portable) {
    max-width: 1700px;
  }
  img {
    height: 50px;
    @media screen and (max-width: 600px) {
      height: 35px;
    }
  }
}
