@import "../main.scss";

.housingList {
  margin: 0 auto;
  width: 95%;
  @include flex(row, center, center);
  flex-wrap: wrap;
  background-color: $color-tertiary;

  @include responsive(phone-very-small) {
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
  }
  @include responsive(phone) {
    padding: 50px;
    gap: 50px;
    border-radius: 25px;
  }
  @include responsive(portable) {
    @include flex(row, center, center);
  }
  @media screen and (min-width: 1200px) {
    @include flex(row, flex-start, center);
    max-width: 1700px;
  }
}
