@import "../main.scss";

.housingList {
  margin: 0 auto;
  @include flex(row, center, center);
  flex-wrap: wrap;
  background-color: $color-tertiary;
  border-radius: 25px;

  @include responsive(phone-very-small) {
    max-width: 90%;
    padding: 20px;
    gap: 20px;
  }
  @include responsive(phone) {
    padding: 50px;
    gap: 50px;
  }
  @include responsive(portable) {
    @include flex(row, flex-start, center);
    max-width: 1700px;
  }
}
