@import "../main.scss";
.menu {
  @include flex(row, flex-start, center);
  color: $color-secondary;
  position: relative;
  transition: all 0.2s ease-in-out;
  @include responsive(phone-very-small) {
    font-size: $font_size-very-small;
    gap: 0.5rem;
  }
  @include responsive(phone-small) {
    font-size: $font_size-small;
    gap: 1rem;
  }
  @include responsive(phone) {
    gap: 2.5rem;
  }

  &_item {
    list-style: none;
  }
}
.activeLink {
  color: inherit;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}
