@import "../main.scss";

.page {
  margin-bottom: 3rem;
  color: $color-secondary;
  &_notfound {
    @include flex(column, center, center);
    min-height: calc(100vh - 300px);
    &_title {
      font-weight: 500;
      padding: 10px;
      font-size: 8rem;
      @include responsive(phone) {
        font-weight: 600;
        font-size: 10rem;
      }
      @include responsive(portable) {
        font-size: 15rem;
      }
    }
    &_paragraph {
      font-weight: 400;
      font-size: 1.5rem;
      text-align: center;
      width: 90%;
      @include responsive(phone) {
        font-weight: 400;
        font-size: 1.8rem;
      }
      @include responsive(portable) {
        width: 100%;
        font-weight: 500;
        font-size: 2.5rem;
      }
    }
    &_redirect {
      margin-top: 10rem;
      display: block;
      text-align: center;
      font-weight: 600;
      font-size: $font_size-very-small;
      text-decoration: underline;
      @include responsive(portable) {
        font-size: $font_size-small;
      }
    }
  }
}
