$color-primary : #fff;
$color-secondary : #FF6060;
$color-tertiary : #F7F7F7;

// font size
$font_size-small: 1.6rem;
$font_size-medium: 2rem;
$font_size-big: 2.5rem;
$font_size-small-paragraph: 1.4rem;
$font_size-very-small:1.1rem;